* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    color: rgb(79, 73, 73);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(167, 205, 218)), color-stop(0.72, rgb(130, 191, 211)), color-stop(0.86, rgb(67, 168, 199)));
}

input,
button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
}

.App {
    background-color: #00d1b2;
    background-repeat: no-repeat;
    background-size: 100% 115%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: block;
    position: relative;
}

form:after {
    content: '';
    display: b;
    position: absolute;
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    z-index: 1;
    border-radius: 5px;
    background-color: white;
}

form .reset-password-info {
    width: 400px;
    position: relative;
    display: inline-block;
    background-color: #FFFFFF;
    padding-right: 30px;
    z-index: 2;
}

.title {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 50px;
    /* text-align: center; */
}

form .reset-password-info .reset-password-form {
    display: block;
    /* width: 400px; */
}

.back {
    color: #017d85;
    text-align: center;
    font-size: small;
    font-weight: 600;
    margin: 1.5em 0em;
}

.reset-password-info .reset-password-form label {
    display: block;
    color: rgb(64, 60, 60);
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 8px;
    transition: 0.4s;
}

.reset-password-info .reset-password-form:focus-within label {
    color: #035053;
}

form .reset-password-info .reset-password-form input {
    display: block;
    margin-bottom: 0.5em;
    width: 100%;
    padding: 10px 15px;
    background-color: #F8F8F8;
    font-size: 15px;
    border-radius: 8px;
    transition: 0.4s;
}

form .reset-password-info .reset-password-form input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .reset-password-info input[type="submit"] {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 3em;
    margin-bottom: 0.3em;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(to right, #017d85 50%, #017d85 50%, #035053);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #FFF;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}

form .reset-password-info input[type="submit"]:hover {
    background-position: 100% 0%;
}

.reset-password-info.box2 {
    background-image: url(../images/key-mark.png);
    background-size: 110% 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 400px;
    border-radius: 7px;
}

.container-reset-password {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form .container-reset-password .logo-image {
    background-image: url(../images/logo.png);
    background-size: 100% 100%;
    width: 55px;
    height: 40px;
}

form .container-reset-password .reset-password-info.box2 {
    padding-left: 20px;
}

.error {
    margin-top: 0.5em;
    margin-left: 5em;
    color: #a52e2e;
}

.error2 {
    margin-top: 0.5em;
    margin-left: 5em;
    color: #FFFFFF;
}

.reset-password {
    margin-top: 0;
    margin-bottom: 2em;
    margin-left: 0;
    /* text-align: center; */
    font-size: 14px;
    font-weight: 530;
    color: rgb(204, 191, 191);
}